/* === Fonts === */
@font-face {
  font-family: 'Lekton';
  font-style: normal;
  font-weight: 700;
  src: local('Lekton-Bold'), url('/assets/style/static/fonts/lekton/Lekton-Bold.ttf') format('woff');
}
@font-face {
  font-family: 'Lekton';
  font-style: italic;
  font-weight: normal;
  src: local('Lekton-Italic'), url('/assets/style/static/fonts/lekton/Lekton-Italic.ttf') format('woff');
}
@font-face {
  font-family: 'Lekton';
  font-style: normal;
  font-weight: 400;
  src: local('Lekton'), local('Lekton-Regular'), url('/assets/style/static/fonts/lekton/Lekton-Regular.ttf') format('woff');
}
@font-face {
  font-family: 'Cabin';
  font-style: italic;
  font-weight: 600;
  src: local('Cabin SemiBold Italic'), local('Cabin-SemiBoldItalic'), url('/assets/style/static/fonts/cabin/Cabin-SemiBoldItalic.ttf') format('woff');
}
@font-face {
  font-family: 'Cabin';
  font-style: italic;
  font-weight: 500;
  src: local('Cabin Medium Italic'), local('Cabin-MediumItalic'), url('/assets/style/static/fonts/cabin/Cabin-MediumItalic.ttf') format('woff');
}
@font-face {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: bold;
  src: local('Cabin Bold'), local('Cabin-Bold'), url('/assets/style/static/fonts/cabin/Cabin-Bold.ttf') format('woff');
}
@font-face {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 600;
  src: local('Cabin SemiBold'), local('Cabin-SemiBold'), url('/assets/style/static/fonts/cabin/Cabin-SemiBold.ttf') format('woff');
}
@font-face {
  font-family: 'Cabin';
  font-style: italic;
  font-weight: bold;
  src: local('Cabin Bold Italic'), local('Cabin-BoldItalic'), url('/assets/style/static/fonts/cabin/Cabin-BoldItalic.ttf') format('woff');
}
@font-face {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 400;
  src: local('Cabin Regular'), local('Cabin-Regular'), url('/assets/style/static/fonts/cabin/Cabin-Regular.ttf') format('woff');
}
@font-face {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 500;
  src: local('Cabin Medium'), local('Cabin-Medium'), url('/assets/style/static/fonts/cabin/Cabin-Medium.ttf') format('woff');
}
@font-face {
  font-family: 'Cabin';
  font-style: italic;
  font-weight: 400;
  src: local('Cabin Italic'), local('Cabin-Italic'), url('/assets/style/static/fonts/cabin/Cabin-Italic.ttf') format('woff');
}