.foldNavigation
{
	text-align:center;
	font-size:9pt;
	position:absolute;
	bottom:0;
	margin-bottom:-20px;
	width:100%;
}
.foldNavigation a
{
	color:#666;
}
.foldNavigation a:hover
{
	color:white;
}

/* === Content Panel === */
.panelHeader
{
	background:transparent url('/assets/img/static/layout/bg/light-gray-transparent-75.png');
	opacity:0.7;
	color:#DDD;
	padding: 10px 0 10px 10px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.panelHeader h1
{
	font-size:14pt;
	color:#DDD;
}
.panelContent
{
	font-size:10pt;
	padding:10px;
	background:gray;
	min-height:200px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}