{% if not page.standalone %} {# Not a standalone frame #}
	{% extends "core/__base.html" %}
{% endif %}

{% block content %}

{% if not page.standalone %}
	<div id='contentHeader' class='{% block content_header_class %}content_header{% endblock %} hidden'>
		{% block content_header %}
			<div class='extendedNav'>

				<div id='browsePane' class='navpane hidden' data-navref='browse'>

					<div class='floatleft fullheight tenthwidth'>		
						<a href="{{ link('browse:landing') }}" title='browse raw data, in context and with easy connections to related information'><img src='/assets/img/static/layout/headers/browse.png' alt='fatcatmap: browse' /></a>
					</div>
				
					<div class='floatleft fullheight halfwidth'>
						sup
					</div>

				</div>

				<div id='searchPane' class='navpane hidden' data-navref='search'>

					<div class='floatleft fullheight tenthwidth'>
						<a href="{{ link('search:landing') }}" title='search our enourmous database of american political transparency data'><img src='/assets/img/static/layout/headers/search.png' alt='fatcatmap: search' /></a>
					</div>
				
					<div class='floatleft fullheight halfwidth'>
						sup
					</div>

				</div>

				<div id='mapPane' class='navpane hidden' data-navref='map'>
				
					<div class='floatleft fullheight tenthwidth'>
					
						<a href="{{ link('map:landing') }}" title='interactively explore data as a map of connected nodes and edges'><img src='/assets/img/static/layout/headers/map.png' alt='fatcatmap: graph' /></a>
					
					</div>
				
					<div class='floatleft fullheight halfwidth'>
					
						sup
					
					</div>
				
				</div>

				<div id='visualizePane' class='navpane hidden' data-navref='visualize'>

					<div class='floatleft fullheight tenthwidth'>
					
						<a href="{{ link('visualize:landing') }}" title='mash up, compare, and analyze data in real time with our dynamic charting tools'><img src='/assets/img/static/layout/headers/visualize.png' alt='fatcatmap: visualize' /></a>
					
					</div>
				
					<div class='floatleft fullheight halfwidth'>
					
						sup
					
					</div>


				</div>
			
				<div id='interactPane' class='navpane hidden' data-navref='interact'>

					<div class='floatleft fullheight tenthwidth'>
					
						<a href="{{ link('interact:landing') }}" title="share interesting data you've found or visualizations you've made with friends and the world"><img src='/assets/img/static/layout/headers/interact.png' alt='fatcatmap: interact' />
					
					</div>
				
					<div class='floatleft fullheight halfwidth'>
					
						sup
					
					</div>

				</div>				

			</div>		
		{% endblock %}
		<div class='foldNavigation'>
			<a href='#'>close menu</a>
		</div>
	</div>
{% endif %}

	{% if not page.standalone %}
		<div id='contentBody' class='{% block content_body_class %}content_body{% endblock %}'>

		<div id='globalAlerts'>
			<div id='globalErrorNotice' class='{% if not page.elements.errorNotice %}hidden {% endif %}error globalAlert'>
				{% block errorNotice %}
					{% if page.elements.errorNotice %}
						{{ page.elements.errorNotice }}
					{% endif %}
				{% endblock %}
			</div>

			<div id='globalInfoNotice' class='{% if not page.elements.infoNotice %}hidden {% endif %}info globalAlert'>
				{% block infoNotice %}
					{% if page.elements.infoNotice %}
						{{ page.elements.infoNotice }}
					{% endif %}
				{% endblock %}
			</div>

			<div id='globalNotice' class='{% if not page.elements.generalNotice %}hidden {% endif %}notice globalAlert'>
				{% block notice %}
					{% if page.elements.generalNotice %}
						{{ page.elements.generalNotice }}
					{% endif %}
				{% endblock %}
			</div>
			
			<div id='globalSuccess' class='{% if not page.elements.successNotice %}hidden {% endif %}success globalAlert'>
				{% block successNotice %}
					{% if page.elements.successNotice %}
						{{ page.elements.successNotice }}
					{% endif %}
				{% endblock %}
			</div>
		</div>

	{% else %}
		<div id='frameContent'>
	{% endif %}

		{% block content_body %}
		{% endblock %}

		{% if not page.standalone %}
			{% if page.watermark %}
			<div id='devNotice'>
				<a href='http://labs.momentum.io/fatcatmap' class='noicon'>FATCATMAP LABS</a> - WORK IN PROGRESS<br />
				&copy; 2008-2011, POLITICAL <a href='http://momentum.io' class='noicon'>MOMENTUM</a><br />

				{% if api.users.is_user_admin() %}
				
				<hr />
				<div id='devMenu'>
					<ul>
						<li><a href='#dEnv' onclick="$('.devContentSection').hide(); $('#devMenu').hide(); $('#devTools').show(); $('#devTools').removeClass('hidden');">Development Tools</a></li>
						<li><a href='#dEnv' onclick="$('.devContentSection').hide(); $('#devMenu').hide(); $('#devEnvironmentInfo').show(); $('#devEnvironmentInfo').removeClass('hidden');">Request Environment</a></li>
					</ul>
				</div>
				
				<div id='devContent'>

					<div id='devEnvironmentInfo' class='devContentSection hidden'>

						<b>BUILD:</b> {{ util.config.fcm.version.major }}.{{ util.config.fcm.version.minor }}.{{ util.config.fcm.version.minor }}.{{ util.config.fcm.version.micro }}-{{ util.config.fcm.version.release }}<br /><b>APP:<b> {{ util.env.get('CURRENT_VERSION_ID') }} // <b>NAMESPACE:</b> {% if api.multitenancy.get_namespace() == '' %}None{% else %}{{ api.multitenancy.get_namespace() }}{% endif %}
						<br />
						<b>DATACENTER:</b> {{ util.env.get('DATACENTER') }} // <b>R(hash):</b> {{ util.env.get('REQUEST_ID_HASH') }} // <b>S(hash):</b> None<br />
						<b>LAYER:</b> {% if api.backends.get_backend() == none %}Frontend{% else %}Backend{% endif %} // <b>BACKEND:</b> {{ api.backends.get_backend() }} // <b>INSTANCE:</b> {{ api.backends.get_instance() }}
						
						<br />
						<br />
						<a href='#' onclick="$('#devEnvironmentInfo').hide().addClass('hidden'); $('#devMenu').show();">Back to Dev Menu</a>

					</div>

					<div id='devTools' class='devContentSection hidden'>
						<a href='#' onclick="fatcatmap.dev.performance.tools.fpsstats.show();">FPS/Memory Counter</a>

						<br />
						<br />
						<a href='#' onclick="$('#devTools').hide().addClass('hidden'); $('#devMenu').show();">Back to Dev Menu</a>
					</div>
				</div>
				{% endif %}
			</div>
			{% endif %}
		{% endif %}
	
	</div>

	{% if not page.standalone %}
		<div id='contentFooter' class='{% block content_footer_class %}content_footer{% endblock %} hidden'>
			{% block content_footer %}
			{% endblock %}
		</div>
	{% endif %}

{% endblock %}