{% extends "core/__base.html" %}

{% block content %}

	<div id='contentHeader' class='{% block content_header_class %}content_header{% endblock %} hidden'>
		{% block content_header %}
			<div class='extendedNav'>

				<div id='browsePane' class='navPane hidden' data-navref='browse'>

					<div class='floatleft fullheight tenthwidth'>		
						<a href="{{ link('browse:landing') }}" title='browse raw data, in context and with easy connections to related information'><img src='/assets/img/static/layout/headers/browse.png' alt='fatcatmap: browse' /></a>
					</div>
					
					<div class='floatleft fullheight halfwidth'>
						sup
					</div>

				</div>

				<div id='searchPane' class='navPane hidden' data-navref='search'>

					<div class='floatleft fullheight tenthwidth'>
						<a href="{{ link('search:landing') }}" title='search our enourmous database of american political transparency data'><img src='/assets/img/static/layout/headers/search.png' alt='fatcatmap: search' /></a>
					</div>
					
					<div class='floatleft fullheight halfwidth'>
						sup
					</div>

				</div>

				<div id='mapPane' class='navPane hidden' data-navref='map'>
					
					<div class='floatleft fullheight tenthwidth'>
						
						<a href="{{ link('map:landing') }}" title='interactively explore data as a map of connected nodes and edges'><img src='/assets/img/static/layout/headers/map.png' alt='fatcatmap: graph' /></a>
						
					</div>
					
					<div class='floatleft fullheight halfwidth'>
						
						sup
						
					</div>
					
				</div>

				<div id='visualizePane' class='navPane hidden' data-navref='visualize'>

					<div class='floatleft fullheight tenthwidth'>
						
						<a href="{{ link('visualize:landing') }}" title='mash up, compare, and analyze data in real time with our dynamic charting tools'><img src='/assets/img/static/layout/headers/visualize.png' alt='fatcatmap: visualize' /></a>
						
					</div>
					
					<div class='floatleft fullheight halfwidth'>
						
						sup
						
					</div>


				</div>
				
				<div id='interactPane' class='navPane hidden' data-navref='interact'>

					<div class='floatleft fullheight tenthwidth'>
						
						<a href="{{ link('interact:landing') }}" title="share interesting data you've found or visualizations you've made with friends and the world"><img src='/assets/img/static/layout/headers/interact.png' alt='fatcatmap: interact' />
						
					</div>
					
					<div class='floatleft fullheight halfwidth'>
						
						sup
						
					</div>

				</div>				

			</div>		
		{% endblock %}
		<div class='foldNavigation'>
			<a href='#'>close menu</a>
		</div>
	</div>
	
	<div id='contentBody' class='{% block content_body_class %}content_body{% endblock %}'>
		{% block content_body %}
		{% endblock %}
		
		<div id='devNotice'>
			<a href='http://labs.momentum.io/fatcatmap'>FATCATMAP LABS</a> - WORK IN PROGRESS<br />
			&copy; 2008-2011, POLITICAL <a href='http://momentum.io'>MOMENTUM</a><br />
			<hr />
			<b>BUILD:</b> {{ util.config.fcm.version.major }}.{{ util.config.fcm.version.minor }}.{{ util.config.fcm.version.minor }}-{{ util.config.fcm.version.release }} // <b>APP:<b> {{ util.env.get('CURRENT_VERSION_ID') }}
			<br />
			<b>DATACENTER:</b> {{ util.env.get('DATACENTER') }}, R(hash): {{ util.env.get('REQUEST_ID_HASH') }}<br />
			<b>BACKEND:</b> None // <b>INSTANCE:</b> None
		</div>
		
	</div>
	
	<div id='contentFooter' class='{% block content_footer_class %}content_footer{% endblock %} hidden'>
		{% block content_footer %}
		{% endblock %}
	</div>

{% endblock %}