{% extends "layouts/main.html" %}

{% block title %}News Explorer - Visualize{% endblock %}

{% block content_body %}

<style type='text/css'>

	#landingWrapper
	{
		overflow:hidden;
	}
	
	#landingWrapper #newsmapHeader
	{
		font-family:'Lekton';
		position:absolute;
		left:40px;
		height:50px;
		right:40px;
		line-height:75px;
		border-bottom: 1px solid #444;
	}
	
	#landingWrapper #newsmapHeader a
	{
		text-decoration:none;
	}

	#landingWrapper #newsmapHeader h1
	{
		float:left;
		font-family:'Cabin';
		font-size:22pt;
		display:inline;
	}

	#landingWrapper #newsmapHeader span
	{
		line-height:85px;		
	}
	
	#landingWrapper #newsmapHeader .contentNavbar
	{
		float:left;
		margin-left:20px;
	}

	#landingWrapper #newsmapHeader .contentNavbar b
	{
		font-weight:bold;
	}

	#landingWrapper #newsmapHeader .contentStatus
	{
		float:right;
	}

	#newsmap
	{
		padding:10px 0 10px 0px;
		left:40px;
		right:40px;
		position:absolute;
		top:50px;
		bottom:10px;
	}
	
	.newsbox
	{
		margin:10px;
		display:block;
		text-align:left;
		width:110px;
		padding:10px;
		border-radius:10px;
		float:left;
	}
	
	.nbHalf
	{
		width: 200px;
	}
	
	.nbFull
	{
		width: 440px;
	}
	
	.newsbox h3
	{
		font-size:14pt;
	}
	.newsbox p
	{
		padding:5px;
	}
	.newsbox a
	{
		padding:5px;
	}
	
	/* === News Types === */
	.worldNews
	{
		background:#BE5758;
	}
	.nationalNews
	{
		background:#CEC828;
	}
	.businessNews
	{
		background:#8CB531;
	}
	.sportsNews
	{
		background:#196A88;
	}
	.techNews
	{
		background:teal;
	}

</style>

<div id='landingWrapper' class='fullwidth fullheight textcenter'>
	
	
	<!-- Newsmap navigation bar -->
	<div id='newsmapHeader'>
		<h1>News Explorer</h1>
		<span class='contentNavbar'>View as <b>newspaper</b>, <a href='#treemap' class='newsmap_view'>tree map</a>, <a href='#heatmap' class='newsmap_view'>heatmap</a> | <a href='#newsmap.alerts'>alerts</a>, <a href='#newsmap.filters'>filters</a> | <a href='#options' class='newsmap_dialog'>view options</a>, <a href='#settings' class='newsmap_dialog'>settings</a></span>
		
		<span class='contentStatus'>
			updated <a href='#status'>6 minutes ago</a> | <a href='#update'>update</a> | <a href='#offline'>go offline</a></span>
		</span>
	</div>
	
	<!-- Newsmap navigation entry content -->
	<div id='newsmapOptions' class='displaynone'>
		
		<div id='options'>
			<p>{{ lipsum(1) }}</p>
		</div>
		
	</div>	

	<div id='newsmapSettings' class='displaynone'>
		
		<div id='settings'>
			<p>{{ lipsum(1) }}</p>
		</div>
		
	</div>
	
	<!-- The newsmap -->
	<div id='newsmap' class='alignmiddle textcenter'>
		
		<div class='newsbox worldNews nbHalf'>
			<h3>News headline 1 here</h3>
			<p>{{ lipsum(util.random.randrange(1, 2)) }} <a href='#'>Read more...</a></p>
		</div>

		<div class='newsbox nationalNews nbFull'>
			<h3>News headline 2 here</h3>
			<p>{{ lipsum(util.random.randrange(1, 2)) }} <a href='#'>Read more...</a></p>
		</div>

		<div class='newsbox worldNews nbFull'>
			<h3>News headline 3 here</h3>
			<p>{{ lipsum(util.random.randrange(1, 2)) }} <a href='#'>Read more...</a></p>
		</div>

		<div class='newsbox businessNews nbHalf'>
			<h3>News headline 4 here</h3>
			<p>{{ lipsum(util.random.randrange(1, 2)) }} <a href='#'>Read more...</a></p>
		</div>

		<div class='newsbox sportsNews nbHalf'>
			<h3>News headline 5 here</h3>
			<p>{{ lipsum(util.random.randrange(1, 2)) }} <a href='#'>Read more...</a></p>
		</div>

		<div class='newsbox techNews nbFull'>
			<h3>News headline 6 here</h3>
			<p>{{ lipsum(util.random.randrange(1, 2)) }} <a href='#'>Read more...</a></p>
		</div>

		<div class='newsbox techNews nbHalf'>
			<h3>News headline 7 here</h3>
			<p>{{ lipsum(util.random.randrange(1, 2)) }} <a href='#'>Read more...</a></p>
		</div>
		
		<div class='newsbox worldNews nbHalf'>
			<h3>News headline 8 here</h3>
			<p>{{ lipsum(util.random.randrange(1, 2)) }} <a href='#'>Read more...</a></p>
		</div>
		
		<div class='newsbox sportsNews nbHalf'>
			<h3>News headline 9 here</h3>
			<p>{{ lipsum(util.random.randrange(1, 2)) }} <a href='#'>Read more...</a></p>
		</div>
		
		<div class='newsbox nationalNews nbFull'>
			<h3>News headline 10 here</h3>
			<p>{{ lipsum(util.random.randrange(1, 2)) }} <a href='#'>Read more...</a></p>
		</div>
		
		<div class='newsbox nationalNews nbHalf'>
			<h3>News headline 11 here</h3>
			<p>{{ lipsum(util.random.randrange(1, 2)) }} <a href='#'>Read more...</a></p>
		</div>
		
		<div class='newsbox nationalNews nbHalf'>
			<h3>News headline 12 here</h3>
			<p>{{ lipsum(util.random.randrange(1, 2)) }} <a href='#'>Read more...</a></p>
		</div>
		
		<div class='newsbox worldNews nbHalf'>
			<h3>News headline 13 here</h3>
			<p>{{ lipsum(util.random.randrange(1, 2)) }} <a href='#'>Read more...</a></p>
		</div>
		
		<div class='newsbox sportsNews nbFull'>
			<h3>News headline 14 here</h3>
			<p>{{ lipsum(util.random.randrange(1, 2)) }} <a href='#'>Read more...</a></p>
		</div>
		
	</div>
	
	<!-- Treemap -->
	<div id='treemap' class='hidden'>
		
		<h1 class='alignmiddle padding-20'>No treemap yet!</h1>
		
	</div>
	
	<!-- Heatmap -->
	<div id='heatmap' class='hidden'>
		
		<h1 class='alignmiddle padding-20'>No heatmap yet!</h1>
		
	</div>	
	
</div>

{% endblock %}


{% block postsouth %}

<script type='text/javascript'>

	$(document).ready(function () {
	
		$('#newsmap').masonry({
		
			itemSelector: '.newsbox',
			columnWidth: 240,
			isFitWidth: true,
			isResizable: true,
			
		});
		
		$('.newsmap_dialog').fancybox({
			
			opacity: true,
			width: 480,
			height: 400,
			overlayColor: '#333',
			padding:20,
			showCloseButton: true,
			enableEscapeButton: true,
			centerOnScroll: true,
			overlayShow: true,
			type: 'inline'
			
		});
	
	});

</script>

{% endblock %}