*.sass-cache
*.pyc
.installed.cfg
app/lib/dist/*
app/lib/dist
var/data.store
eggs/*
bin/appcfg
bin/buildout
bin/buildout.py
bin/bulkload_client
bin/bulkloader
bin/csscapture
bin/csscombine
bin/cssparse
bin/dev_appserver
bin/jinja2_compile
bin/pybabel
bin/python
bin/remote_api_shell
bin/tipfy
etc/develop-eggs/*
etc/downloads/*
etc/parts/*
var/downloads/*
var/downloads
var/parts/*
var/parts/google_appengine/*
var/parts
var/libs/*
var/libs
*.svn*
