*.pyc
.installed.cfg
app/lib/dist/*
var/data.store
eggs/*
bin/appcfg
bin/buildout
bin/buildout.py
bin/bulkload_client
bin/bulkloader
bin/csscapture
bin/csscombine
bin/cssparse
bin/dev_appserver
bin/jinja2_compile
bin/pybabel
bin/python
bin/remote_api_shell
bin/tipfy
etc/develop-eggs/*
etc/downloads/*
etc/parts/*
var/libs/*
*.svn*
