<div id='detailsPane' class='sidebar sb-left folded' data-element='details_sidebar' data-element-type='LayoutElement'>

	<script type="text/javascript">
	$(document).ready(function initDetailsPane() {	
		detailspane = new Sidebar('#detailsPane');
		fatcatmap.api.layout.register('detailspane', detailspane);
	});
	</script>
		
	<div class='paneButtonBox'>
		<a class='paneButton enabled closeButton cp-right2' href="javascript:closeSidebar('#detailsPane', 'right');"><img src="/assets/img/static/layout/sprites/close-x.png" width="18" height="18" /></a>

		<a class='paneButton expandButton cp-right' href="javascript:expandSidebar('#detailsPane', 'right');" disabled='disabled'><img src="/assets/img/static/layout/sprites/arrow-right.png" width="18" height="18" /></a>
	</div>
	
	<div class='panelWrapper hidden'>
		<div class='title'>Details Pane</div>
		<div class='content'>

			<div class='nodeDetailsPane'>
				<b>Current Node:</b>
				<ul>
					<li>Key: <span id='nodekey'></span></li>
					<li>Label: <span id='nodelabel'></span></li>
				</ul>
			</div>

		</div>
	</div>
	
</div>