<div id='detailsPane' class='sidebar sb-left'>
		
	<div class='paneButtonBox'>
		<a class='paneButton closeButton enabled cp-right2' href="javascript:closeSidebar('#detailsPane');"><img src="/assets/img/static/layout/sprites/close-x.png" width="18" height="18" /></a>

		<a class='paneButton enabled expandButton cp-right' href="javascript:expandSidebar('#detailsPane');"><img src="/assets/img/static/layout/sprites/arrow-right.png" width="18" height="18" /></a>
	</div>
	
	<div class='panelWrapper hidden'>
		<div class='title'>Details Pane</div>
		<div class='content'>Here's <a href="#" id='cool' title='cool'>some</a> content.</div>
	</div>
	
</div>