{% extends "layouts/main.html" %}

{% block content_body %}

<div id='grapher' class='fullheight fullwidth textcenter'>
	<script type="text/javascript+protovis">
	$(document).ready( function drawGraph() {

		// Define local context vars
		_graph = null;
		_error = null;
		_response = null;

		fatcatmap.rpc.api.graph.construct({}, {
			
			success: function graphResponse(response)
			{
				_graph = response.graph;
				_response = response;
			},
			failure: function graphFailure(response)
			{
				_error = response;
				alert('rpc failure: '+response.error)
			}
			
		}, false);
		
		// Render Graph
		var w = $("#grapher").width(),
		    h = $("#grapher").height(),
		    colors = pv.Colors.category19();

		// 1: Create viz panel
		var vis = new pv.Panel($('#grapher'))
		    .width(w)
		    .height(h)
		    .fillStyle("transparent")
		    .event("mousedown", pv.Behavior.pan())
		    .event("mousewheel", pv.Behavior.zoom());

		// 2: Add force-driven layout to visualizer panel
		var force = vis.add(pv.Layout.Force).nodes(_graph.nodes).links(_graph.edges);
		force.bound = function() true;

		// 3: Adjust force constants for layout
		force.chargeConstant(function() -110);
		force.chargeMaxDistance(function() 500);
		force.chargeMinDistance(function() 2);
		force.chargeTheta(function() 0.9);
		force.dragConstant(function() 0.1);
		force.springConstant(function() 0.1);
		force.springDamping(function() 0.3);
		force.springLength(function() 140);

		// 4: Render line
		line = force.link.add(pv.Line);
		line.strokeStyle(function() '#667788');

		// 5: Add node box
		dot = force.node.add(pv.Dot);
		dot.size(function() 150);
		dot.fillStyle(function() 'white');
		dot.strokeStyle(function() 'blue');
		dot.cursor(function() 'pointer');
		dot.text(function (d) d.label);
		dot.event('mousedown', pv.Behavior.drag());
		//dot.event("mouseover", pv.Behavior.tipsy({gravity: "s", fade: true}));
		dot.event('click', function (d) {loadContextPane(d, d.key);});
		dot.event('drag', force);

		// 6: Add node anchor

		center = dot.anchor('center');
		label = center.add(pv.Label);
		label.text(function (d) d.index+1);
		label.font(function () '16px Cabin');
		
		
		/*anchor = dot.anchor('center');
		icon = anchor.add(pv.Image);
		icon.text(function (d) d.label);
		icon.width(16);
		icon.height(16);
		icon.url('/assets/img/static/icons/user_gray.png');
		icon.event('click', function (d) {loadContextPane(d, d.key);});*/

		// 7: Render
		vis.render();
		
	});
	</script>
</div>

<!-- Sidebars -->
{% include 'elements/pane/details-sidebar.html' %}
{% include 'elements/pane/controls-sidebar.html' %}

{% endblock %}

{% block content_footer %}{% endblock %}