{% extends "layouts/main.html" %}

{% block content_body %}

<div id='grapher' class='fullheight fullwidth textcenter'>
	<script type="text/javascript+protovis">
	$(document).ready( function drawGraph() {
		
		_data = null;
		_graph = null;
		_response = null;

		// Set up Graph API RPC
		$.jsonRPC.setup({endPoint: "{{ link('api-call-rest', module='graph', service='draw', method='drawFromNode') }}"});
		$.jsonRPC.request('drawFromNode', false, {},{

				success: function(response)
				{
					_response = response;
					_data = _response.result.data;
					_graph = _response.result.graph;
				},
				error: function(response)
				{
					_error = response;
					alert('rpc failure: '+response.error);
				}
	
		});
		
		// Render Graph
		var w = $("#grapher").width(),
		    h = $("#grapher").height(),
		    colors = pv.Colors.category19();

		// 1: Create viz panel
		var vis = new pv.Panel($('#grapher'))
		    .width(w)
		    .height(h)
		    .fillStyle("transparent")
		    .event("mousedown", pv.Behavior.pan())
		    .event("mousewheel", pv.Behavior.zoom());

		// 2: Add force-driven layout to visualizer panel
		var force = vis.add(pv.Layout.Force).nodes(_graph.nodes).links(_graph.edges);
		force.bound = function() true;

		// 3: Adjust force constants for layout
		force.chargeConstant(function() -110);
		force.chargeMaxDistance(function() 500);
		force.chargeMinDistance(function() 2);
		force.chargeTheta(function() 0.9);
		force.dragConstant(function() 0.1);
		force.springConstant(function() 0.1);
		force.springDamping(function() 0.3);
		force.springLength(function() 140);

		// 4: Render line
		line = force.link.add(pv.Line);
		line.strokeStyle(function() '#667788');

		// 5: Add node box
		box = force.node.add(pv.Bar);
		box.fillStyle(function() 'white');
		box.strokeStyle(function() '#DDD');
		box.cursor(function() 'pointer');
		box.text(function (d) d.label);
		box.event('mousedown', pv.Behavior.drag());
		box.event("mouseover", pv.Behavior.tipsy({gravity: "s", fade: true}));
		box.event('drag', force);
		box.event('click', function (d) {loadContextPane(d, d.key);});
		box.width(function(d) {return 90;});
		box.height(function(d) {return 20;});

		// 6: Add node label
		anchor = box.anchor('bottom');
		label = anchor.extend(box).add(pv.Label)
		label.text(function (d) {return d.label;});
		label.font(function(d) {return '12px "Helvetica Neue", Helvetica, "Arial Unicode MS", Arial, sans-serif';});

		// 7: Render
		vis.render();
		
	});
	</script>
</div>

<!-- Sidebars -->
{% include 'elements/pane/details-sidebar.html' %}
{% include 'elements/pane/controls-sidebar.html' %}

{% endblock %}

{% block content_footer %}{% endblock %}