{% extends "layouts/main.html" %}

{% block title %}offline - welcome to fatcatmap! &lt;^..^&gt;{% endblock %}

{% block content_body %}

	<div class='alignmiddle textcenter halfwidth halfheight padding-20' style='margin-top: 9%; background: #222;border-radius: 15px; border: 20px solid rgba(17, 17, 17, .7); background-clip:padding-box;'>
		<br /><br />
		<h1 class='bigtext'>You are currently in offline mode.</h1><br /><br /><br />
		<p>Unfortunately, the page you requested is not available in your local cache.<br />
			Please find a network connection and try again, or press the 'back' button.</p>

		<br />
		<br />
		<br />
		
		<img src='/assets/img/static/layout/fail/offline.png' title='offline fail :(' />
		
	</div>

{% endblock %}