<!-- Top-right FCM branding -->
<div id='fcmTopBranding'>
	<a href="{{ link('landing') }}"><img src='/assets/img/static/branding/fatcatmap-alpha-v3-10.png' height='19' width='170' alt='fatcatmap alpha' /></a>
</div>

<div class='navbar'>

	<!-- Superbar Navigation -->
	<ul class='topNavigation floatleft'>
	
		<li class='dotSpacer'>&#183;</li>
	
		<li><a href="{{ link('landing') }}">Home</a></li>
		
		<li><a href="#" data-navref='browse' class='SupernavLink'>Browse</a></li>
	
		<li><a href='#' data-navref='search' class='SupernavLink'>Search</a></li>
	
		<li><a href='#' data-navref='map' class='SupernavLink'>Map</a></li>
	
		<li><a href='#' data-navref='visualize' class='SupernavLink'>Visualize</a></li>
	
		<li><a href='#' data-navref='interact' class='SupernavLink'>Interact</a></li>	
	
	</ul>

	<!-- Utility bar -->

	<ul id='util_navigation' class='floatright'>
	
		<li class='navButton'><a href='#'>{{ user.nickname() }}</a>
			<ul class='subnav rightsub'>
				<li><a href="#settings">Settings</a></li>
				<li class='last'><a href="{{ api.users.create_logout_url('/') }}">Log Out</a></li>
			</ul>
		</li>
		
		<li id='utilDotSpacer'>&#183;</li>
		
		<li class='navButton'><a href='#'><span id='inboxCount'>0</span> Inbox</a></li>
		
		<li id='utilDotSpacer'>&#183;</li>		
		
		<li class='navButton'><a href='#'>momentum</a>
			<ul class='subnav rightsub'>
				{% if api.users.is_user_admin() %}
					<li><a href="{{ link('dev-index') }}">Developer Console</a></li>
					<li><a href="{{ link('admin-index') }}">Management Console</a></li>
					<li><a href="/_pc/console/">Infrastructure Console</a></li>
					<li class='last'><a href="/_pc/ifx/platform/console">Platform Console</a></li>
				{% endif %}
			</ul>
		</li>
	</ul>
</div>
<div class='clearboth'></div>