/* line 4, /usr/local/lib/ruby/gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 18, /usr/local/lib/ruby/gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
.bp-reset-element, body, h1, h2, h3, h4, h5, h6, article, aside, dialog, figure, footer, header, hgroup, nav, section, blockquote, q, th, td, caption, table,
div, span, object, iframe, p,
pre, a, abbr, acronym, address,
code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset,
form, label, legend,
caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 20, /usr/local/lib/ruby/gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
article, aside, dialog, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 21, /usr/local/lib/ruby/gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  quotes: "" "";
}
/* line 67, /usr/local/lib/ruby/gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 22, /usr/local/lib/ruby/gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  float: none !important;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 23, /usr/local/lib/ruby/gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, /usr/local/lib/ruby/gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

/* line 9, ../../source/main-0.1.sass */
html, body {
  overflow: auto;
  background-color: #222222;
  font: 13px/1.231 sans-serif;
  *font-size: small;
}

/* line 15, ../../source/main-0.1.sass */
body {
  color: white;
  background: #222222 url("/assets/img/static/layout/bg/dark-light-stripes-v1.png") repeat;
}
/* line 20, ../../source/main-0.1.sass */
body a {
  color: #8ca552;
}
/* line 22, ../../source/main-0.1.sass */
body a:hover {
  color: #b4b955;
}

/* line 26, ../../source/main-0.1.sass */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

/* line 35, ../../source/main-0.1.sass */
h1, h2, h3, h4, p, div, td, button, input, b, li, span, select {
  font-family: "Cabin", "Lucida Grande", arial, sans-serif;
  color: white;
}

/* line 39, ../../source/main-0.1.sass */
ins {
  background-color: #ffff99;
  color: black;
  text-decoration: none;
}

/* line 44, ../../source/main-0.1.sass */
mark {
  background-color: #ffff99;
  color: black;
  text-decoration: none;
}

/* line 49, ../../source/main-0.1.sass */
del {
  text-decoration: line-through;
}

/* line 52, ../../source/main-0.1.sass */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 56, ../../source/main-0.1.sass */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 60, ../../source/main-0.1.sass */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

/* line 68, ../../source/main-0.1.sass */
input, select {
  vertical-align: middle;
}

/* line 71, ../../source/main-0.1.sass */
button {
  padding: 2px 4px 2px 4px;
}

/* line 74, ../../source/main-0.1.sass */
input[type=submit] {
  padding: 3px;
}

/* line 77, ../../source/main-0.1.sass */
select, input, textarea, button {
  font-size: 99%;
  background: transparent;
}

/* line 81, ../../source/main-0.1.sass */
pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

/* line 84, ../../source/main-0.1.sass */
a:hover, a:active {
  outline: none;
}

/* line 87, ../../source/main-0.1.sass */
ul, ol {
  margin-left: 2em;
}

/* line 90, ../../source/main-0.1.sass */
ol {
  list-style-type: decimal;
}

/* line 93, ../../source/main-0.1.sass */
nav ul, nav li {
  margin: 0;
  list-style: none;
  list-style-image: none;
}

/* line 98, ../../source/main-0.1.sass */
small {
  font-size: 85%;
}

/* line 101, ../../source/main-0.1.sass */
strong, th {
  font-weight: bold;
}

/* line 104, ../../source/main-0.1.sass */
td {
  vertical-align: top;
}

/* line 107, ../../source/main-0.1.sass */
sub, sup {
  line-height: 0;
  font-size: 75%;
  position: relative;
}

/* line 112, ../../source/main-0.1.sass */
sup {
  top: -0.5em;
}

/* line 115, ../../source/main-0.1.sass */
sub {
  bottom: -0.25em;
}

/* line 118, ../../source/main-0.1.sass */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 15px;
}

/* line 124, ../../source/main-0.1.sass */
textarea {
  overflow: auto;
}

/* line 129, ../../source/main-0.1.sass */
.momentumSuperbar {
  width: 100%;
  z-index: 600;
  height: 25px;
  background: #222222;
  position: absolute;
  opacity: 0.7;
  top: 0;
}
/* line 138, ../../source/main-0.1.sass */
.momentumSuperbar:hover {
  opacity: 0.95;
}
/* line 141, ../../source/main-0.1.sass */
.momentumSuperbar #fcmTopBranding {
  padding-top: 4px;
  padding-left: 5px;
  padding-right: 5px;
  width: 165px;
  text-align: center;
  float: left;
}
/* line 151, ../../source/main-0.1.sass */
.momentumSuperbar li a {
  color: #555555;
  text-shadow: 1px 1px 0px #111111;
  text-decoration: none;
}
/* line 156, ../../source/main-0.1.sass */
.momentumSuperbar li a:hover {
  color: white;
}
/* line 159, ../../source/main-0.1.sass */
.momentumSuperbar ul.topNavigation {
  margin-left: 0;
  line-height: 25px;
  list-style: none;
  display: inline;
}
/* line 165, ../../source/main-0.1.sass */
.momentumSuperbar ul.topNavigation li {
  list-style: none;
  padding-right: 10px;
  padding-left: 10px;
  display: inline;
  font-size: 10pt;
  color: #777777;
  float: left;
  position: relative;
}
/* line 176, ../../source/main-0.1.sass */
.momentumSuperbar #util_navigation {
  padding-right: 5px;
}

/* line 179, ../../source/main-0.1.sass */
li.dotSpacer {
  font-size: 12pt !important;
  padding-right: 0;
  font-weight: bold;
  color: #666666 !important;
}

/* line 185, ../../source/main-0.1.sass */
#utilDotSpacer {
  font-size: 12pt !important;
  padding-right: 0;
  font-weight: bold;
  color: #666666 !important;
  width: 20px;
  text-align: center;
}

/* line 194, ../../source/main-0.1.sass */
.navbar {
  padding: 0;
  margin: 0;
}
/* line 198, ../../source/main-0.1.sass */
.navbar ul {
  padding: 0;
  margin: 0;
}
/* line 202, ../../source/main-0.1.sass */
.navbar ul ul {
  position: absolute;
  top: 20px;
  z-index: 1000;
  background: #222222;
  border-left: 5px solid #222222;
  border-right: 5px solid #222222;
}
/* line 212, ../../source/main-0.1.sass */
.navbar ul ul.leftsub {
  left: 0;
  margin-top: 0;
}
/* line 216, ../../source/main-0.1.sass */
.navbar ul ul.rightsub {
  right: 0px;
  margin-top: 3px;
}
/* line 220, ../../source/main-0.1.sass */
.navbar ul ul.rightsub li {
  text-align: right !important;
}
/* line 224, ../../source/main-0.1.sass */
.navbar li {
  position: relative;
  float: left;
  list-style: none;
  line-height: 25px;
  margin: 0;
}
/* line 231, ../../source/main-0.1.sass */
.navbar li b {
  height: 25px;
  display: inline;
  line-height: 25px;
  font-weight: bold;
  text-align: center;
}
/* line 238, ../../source/main-0.1.sass */
.navbar li a {
  height: 25px;
  line-height: 25px;
  display: inline;
  text-decoration: none;
  text-align: center;
}
/* line 246, ../../source/main-0.1.sass */
.navbar li ul li {
  width: 160px;
  text-align: left;
  display: block;
  border-top: 1px solid #222222;
  padding: 3px;
}
/* line 253, ../../source/main-0.1.sass */
.navbar li ul li a {
  text-align: left;
}
/* line 256, ../../source/main-0.1.sass */
.navbar li ul li.last {
  border-bottom: 1px solid #222222;
}
/* line 259, ../../source/main-0.1.sass */
.navbar li ul.subnav {
  visibility: hidden;
}
/* line 263, ../../source/main-0.1.sass */
.navbar li:hover ul.subnav {
  visibility: visible !important;
}
/* line 266, ../../source/main-0.1.sass */
.navbar li.nolink {
  padding-top: 1px;
}

/* line 269, ../../source/main-0.1.sass */
.navbar.spacer {
  width: 15px;
  text-align: center;
}

/* line 274, ../../source/main-0.1.sass */
.navButton {
  padding-left: 6px;
  height: 25px;
  padding-right: 6px;
}

/* line 281, ../../source/main-0.1.sass */
li.navButton a span {
  color: black !important;
}

/* line 286, ../../source/main-0.1.sass */
div.navbar li.navButton:hover ul.subnav {
  visibility: visible !important;
}

/* line 289, ../../source/main-0.1.sass */
.extendedNav {
  overflow: hidden;
  padding: 5px;
}

/* line 294, ../../source/main-0.1.sass */
.momentumSuperfooter {
  width: 100%;
  height: 55px;
  bottom: 0;
  position: absolute;
  background: #222222;
  overflow: hidden;
  line-height: 55px;
  opacity: 0.7;
}
/* line 304, ../../source/main-0.1.sass */
.momentumSuperfooter div {
  color: #666666;
  margin-left: 10px;
  margin-right: 10px;
}
/* line 310, ../../source/main-0.1.sass */
.momentumSuperfooter #bottomFcmBranding {
  width: 180px;
  height: 50px;
  overflow: hidden;
}
/* line 315, ../../source/main-0.1.sass */
.momentumSuperfooter #bottomFcmBranding a {
  width: 100%;
  height: 100%;
}
/* line 319, ../../source/main-0.1.sass */
.momentumSuperfooter #bottomFcmBranding a #momentumBrand {
  height: 55px;
  opacity: 0.5;
  background: no-repeat center transparent url("/assets/img/static/branding/momentum-gray-v1-25.png");
}

/* line 324, ../../source/main-0.1.sass */
.brandingHover {
  opacity: 1 !important;
  background: no-repeat center transparent url("/assets/img/static/branding/momentum-v1-25.png") !important;
}

/* line 330, ../../source/main-0.1.sass */
.rootContent {
  top: 25px;
  bottom: 55px;
  width: 100%;
  background: #222222 url("/assets/img/static/layout/bg/dark-light-stripes-v1.png") repeat;
  position: absolute;
}

/* line 337, ../../source/main-0.1.sass */
.content_header {
  background: #222222;
  height: 100px;
  z-index: 500;
  position: absolute;
  width: 100%;
  margin-top: 0;
}

/* line 345, ../../source/main-0.1.sass */
.content_body {
  top: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/* line 351, ../../source/main-0.1.sass */
.content_footer {
  height: 10%;
  position: absolute;
  width: 100%;
  bottom: 0;
}

/* line 359, ../../source/main-0.1.sass */
.foldNavigation {
  text-align: center;
  font-size: 9pt;
  position: absolute;
  bottom: 0;
  margin-bottom: -20px;
  width: 100%;
}
/* line 367, ../../source/main-0.1.sass */
.foldNavigation a {
  color: #666666;
}
/* line 370, ../../source/main-0.1.sass */
.foldNavigation a:hover {
  color: white;
}

/* line 374, ../../source/main-0.1.sass */
.panelHeader {
  background: transparent url("/assets/img/static/layout/bg/light-gray-transparent-75.png");
  opacity: 0.7;
  color: #dddddd;
  padding: 10px 0 10px 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
/* line 382, ../../source/main-0.1.sass */
.panelHeader h1 {
  font-size: 14pt;
  color: #dddddd;
}

/* line 386, ../../source/main-0.1.sass */
.panelContent {
  font-size: 10pt;
  padding: 10px;
  background: #222222;
  min-height: 200px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* line 395, ../../source/main-0.1.sass */
.sidebar {
  color: #999999 important;
  position: absolute;
  top: 25px;
  bottom: 25px;
  width: 35px;
  background: #111111;
  opacity: 0.6;
}
/* line 404, ../../source/main-0.1.sass */
.sidebar:hover {
  opacity: 0.8;
}
/* line 407, ../../source/main-0.1.sass */
.sidebar .panelWrapper {
  white-space: nowrap;
  overflow: hidden;
}
/* line 411, ../../source/main-0.1.sass */
.sidebar .panelWrapper .title {
  font-weight: 400;
  padding: 10px 0 10px 10px;
  font-size: 150%;
  color: white;
}
/* line 417, ../../source/main-0.1.sass */
.sidebar .panelWrapper .panelBox {
  padding-top: 3px;
  padding-bottom: 3px;
  border-bottom: 1px solid #222222;
  border-top: 1px solid #222222;
  font-size: 100%;
  color: white;
}
/* line 427, ../../source/main-0.1.sass */
.sidebar .panelWrapper .panelBox .subtitle {
  text-align: left;
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 110%;
  color: white;
}
/* line 435, ../../source/main-0.1.sass */
.sidebar .panelWrapper .panelBox .content {
  font-size: 80%;
  padding-right: 5px;
  color: white;
}
/* line 440, ../../source/main-0.1.sass */
.sidebar .panelWrapper .panelBox .content div {
  color: white;
}
/* line 443, ../../source/main-0.1.sass */
.sidebar .panelWrapper .content {
  font-weight: normal;
  margin-right: 10px;
  padding: 10px 0 10px 10px;
  color: white;
}

/* line 449, ../../source/main-0.1.sass */
.sb-right {
  right: 0;
  margin-right: 0;
  margin-left: auto;
  clear: right;
}
/* line 456, ../../source/main-0.1.sass */
.sb-right .panelWrapper .title {
  text-align: right;
  width: 160px;
}

/* line 460, ../../source/main-0.1.sass */
.sb-left {
  left: 0;
  clear: left;
  margin-right: auto;
  margin-left: 0;
}

/* line 466, ../../source/main-0.1.sass */
.paneButton {
  position: absolute;
  top: 10px;
  opacity: 0.2;
}

/* line 471, ../../source/main-0.1.sass */
.enabled:hover {
  opacity: 0.8;
}

/* line 474, ../../source/main-0.1.sass */
.cp-right {
  right: 10px;
}

/* line 477, ../../source/main-0.1.sass */
.cp-right2 {
  right: 35px;
}

/* line 480, ../../source/main-0.1.sass */
.cp-left {
  left: 10px;
}

/* line 483, ../../source/main-0.1.sass */
.cp-left2 {
  left: 35px;
}

/* line 487, ../../source/main-0.1.sass */
#controlsPane.unfolded {
  max-width: 220px;
}

/* line 491, ../../source/main-0.1.sass */
.panelLabels span {
  width: 40px;
  height: 13px;
  color: white;
}

/* line 496, ../../source/main-0.1.sass */
.graphPhysicsInput {
  width: 45px;
  margin-right: 0;
}

/* line 501, ../../source/main-0.1.sass */
.graphSettings td {
  padding: 5px;
}

/* line 504, ../../source/main-0.1.sass */
.graphButtons {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

/* line 510, ../../source/main-0.1.sass */
#devNotice {
  position: absolute;
  text-align: right;
  right: 55px;
  bottom: 25px;
  font-size: 7pt;
  color: #666666 !important;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #111111;
  background: #222222;
  opacity: 0.95;
}
/* line 523, ../../source/main-0.1.sass */
#devNotice a {
  color: #666666 !important;
  text-decoration: underline;
}
/* line 527, ../../source/main-0.1.sass */
#devNotice b {
  color: #666666;
}
/* line 530, ../../source/main-0.1.sass */
#devNotice hr {
  border-top: 1px solid #666666;
}

/* line 534, ../../source/main-0.1.sass */
#inboxCount {
  background: #666666;
  padding: 1px 3px 1px 2px;
  margin-right: 3px;
  border-radius: 3px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 8pt;
}

/* line 544, ../../source/main-0.1.sass */
.absolute {
  position: absolute;
}

/* line 546, ../../source/main-0.1.sass */
.floatleft {
  float: left;
}

/* line 548, ../../source/main-0.1.sass */
.floatright {
  float: right;
}

/* line 550, ../../source/main-0.1.sass */
.clearleft {
  clear: left;
}

/* line 552, ../../source/main-0.1.sass */
.clearright {
  clear: right;
}

/* line 554, ../../source/main-0.1.sass */
.clearboth {
  clear: both;
}

/* line 556, ../../source/main-0.1.sass */
.fullwidth {
  width: 100%;
}

/* line 558, ../../source/main-0.1.sass */
.halfwidth {
  width: 50%;
}

/* line 560, ../../source/main-0.1.sass */
.quarterwidth {
  width: 25%;
}

/* line 562, ../../source/main-0.1.sass */
.tenthwidth {
  width: 10%;
}

/* line 564, ../../source/main-0.1.sass */
.fullheight {
  height: 100%;
}

/* line 566, ../../source/main-0.1.sass */
.halfheight {
  height: 50%;
}

/* line 568, ../../source/main-0.1.sass */
.quarterheight {
  height: 25%;
}

/* line 570, ../../source/main-0.1.sass */
.tenthheight {
  height: 10%;
}

/* line 572, ../../source/main-0.1.sass */
.hideoverflow {
  overflow: hidden;
}

/* line 574, ../../source/main-0.1.sass */
.textcenter {
  text-align: center;
}

/* line 576, ../../source/main-0.1.sass */
.textleft {
  text-align: left;
}

/* line 578, ../../source/main-0.1.sass */
.textright {
  text-align: right;
}

/* line 580, ../../source/main-0.1.sass */
.alignmiddle {
  margin-left: auto;
  margin-right: auto;
}

/* line 583, ../../source/main-0.1.sass */
.padding-5 {
  padding: 5px;
}

/* line 585, ../../source/main-0.1.sass */
.padding-10 {
  padding: 10px;
}

/* line 587, ../../source/main-0.1.sass */
.padding-15 {
  padding: 15px;
}

/* line 589, ../../source/main-0.1.sass */
.padding-20 {
  padding: 20px;
}

/* line 591, ../../source/main-0.1.sass */
.padding-25 {
  padding: 25px;
}

/* line 593, ../../source/main-0.1.sass */
.padding-30 {
  padding: 30px;
}

/* line 595, ../../source/main-0.1.sass */
.snapright {
  right: 0px;
}

/* line 597, ../../source/main-0.1.sass */
.snapleft {
  left: 0px;
}

/* line 599, ../../source/main-0.1.sass */
.snaptop {
  top: 0px;
}

/* line 601, ../../source/main-0.1.sass */
.bigtext {
  font-size: 28pt;
}

/* line 603, ../../source/main-0.1.sass */
.snapbottom {
  bottom: 0px;
}

/* line 605, ../../source/main-0.1.sass */
.notice {
  min-width: 300px;
  min-height: 20px;
  background: #b4b955;
  color: black;
  border-radius: 3px;
  -moz-border-radius: 3px;
  opacity: 0.8;
  padding: 5px;
  margin: 10px;
}

/* line 615, ../../source/main-0.1.sass */
.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}

/* line 622, ../../source/main-0.1.sass */
.hidden {
  display: none;
  visibility: hidden;
}

/* line 625, ../../source/main-0.1.sass */
.displaynone {
  display: none;
}

/* line 627, ../../source/main-0.1.sass */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 636, ../../source/main-0.1.sass */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 644, ../../source/main-0.1.sass */
.invisible {
  visibility: hidden;
}

/* line 646, ../../source/main-0.1.sass */
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}

/* line 651, ../../source/main-0.1.sass */
.clearfix:after {
  clear: both;
}

/* line 653, ../../source/main-0.1.sass */
.clearfix {
  zoom: 1;
}
