/* line 4, ../../source/print-0.2.sass */
body.print {
  line-height: 1.5;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: black;
  background: none;
  font-size: 10pt;
}
/* line 45, /usr/local/lib/ruby/gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_print.scss */
body.print .container {
  background: none;
}
/* line 47, /usr/local/lib/ruby/gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_print.scss */
body.print hr {
  background: #cccccc;
  color: #cccccc;
  width: 100%;
  height: 2px;
  margin: 2em 0;
  padding: 0;
  border: none;
}
/* line 55, /usr/local/lib/ruby/gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_print.scss */
body.print hr.space {
  background: white;
  color: white;
}
/* line 58, /usr/local/lib/ruby/gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_print.scss */
body.print h1, body.print h2, body.print h3, body.print h4, body.print h5, body.print h6 {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}
/* line 60, /usr/local/lib/ruby/gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_print.scss */
body.print code {
  font-size: 0.9em;
  font-family: "andale mono", "lucida console", monospace;
}
/* line 65, /usr/local/lib/ruby/gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_print.scss */
body.print a img {
  border: none;
}
/* line 68, /usr/local/lib/ruby/gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_print.scss */
body.print a:link, body.print a:visited {
  background: transparent;
  font-weight: 700;
  text-decoration: underline;
}
/* line 72, /usr/local/lib/ruby/gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_print.scss */
body.print p img.top {
  margin-top: 0;
}
/* line 74, /usr/local/lib/ruby/gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_print.scss */
body.print blockquote {
  margin: 1.5em;
  padding: 1em;
  font-style: italic;
  font-size: 0.9em;
}
/* line 79, /usr/local/lib/ruby/gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_print.scss */
body.print .small {
  font-size: 0.9em;
}
/* line 81, /usr/local/lib/ruby/gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_print.scss */
body.print .large {
  font-size: 1.1em;
}
/* line 83, /usr/local/lib/ruby/gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_print.scss */
body.print .quiet {
  color: #999999;
}
/* line 85, /usr/local/lib/ruby/gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_print.scss */
body.print .hide {
  display: none;
}
