{% extends 'layouts/dev.html' %}

{% block page_title %}Cache Management{% endblock %}
{% block panel_header %}Cache Management{% endblock %}
{% block panel_backnav %}<a href="{{ link('dev-index') }}">Development Console</a>{% endblock %}

{% block panel_content %}

{% if message %}
	<div class='notice'><p>{{ message }}</p></div>
{% endif %}

<h2>Memcache Stats:</h2><br />

<ul>
	<li>Hits: {{ stats.hits }}</li>
	<li>Misses: {{ stats.misses }}</li>
	<li>Byte Hits: {{ stats.byte_hits }}</li>
	<li>Item Count: {{ stats.__getitem__('items') }}</li>
	<li>Byte Count: {{ stats.bytes }}</li>
	<li>Oldest Item: {{ stats.oldest_item_age }}</li>
</ul>

<br />
<br />

<h2>Flush Memcache:</h2><br />

<form action="{{ link('dev-cache') }}" method='post'>
	<input type='hidden' name='action' value='clear' />
	<input type='submit' value='Clear Memcache of All Values'>
</form>

<br />
<br />

{% endblock %}