{% extends 'layouts/main.html' %}

{% block content_body %}

<div class='padding-20 halfwidth fullheight'>

	<div class='contentPanel'>

		<div class='panelHeader'>
			<h1>Development Console</h1>
		</div>
		<div class='panelContent'>
			<ul>
				<li><a href="{{ link('dev-default-data') }}">Add Default Data</a></li>
				<li><a href="{{ link('dev-add-data') }}">Add Graph Data</a></li>
				<li><a href="{{ link('dev-rpc-console') }}">RPC Console<a></li>
				<li><a href="{{ link('dev-cache') }}">Cache Management</a></li>
				<li><a href="{{ link('dev-shell') }}">Command Shell</li>
			</ul>
		</div>

	</div>
	
</div>

{% endblock %}