{% extends 'layouts/dev.html' %}

{% block page_title %}RPC Playground{% endblock %}
{% block panel_header %}RPC Playground{% endblock %}
{% block panel_backnav %}<a href="{{ link('dev-index') }}">Development Console</a>{% endblock %}

{% block panel_content %}

<h2>Operations:</h2><br />

<a href='#' id='drawGraph'>Draw Graph</a>

<br />
<br />
<hr />
<br />

<p>
	<b>Request ID: </b><input type='text' value='' id='api_request_id' style='width:50px; margin-left:15px; text-align:right;' /><br />
	<b>Asynchronous: </b><input type='text' value='' id='api_request_async' style='width:50px; margin-left:15px; text-align:right;' />
</p><br />

<div class='floatleft'>
	<b>API Request:<b><br />
	<textarea id='api_request_content' style='width:550px; padding:5px; height:300px; background:white;'></textarea>
</div>

<div class='floatleft'>
	<b>API Response:<b><br />
	<textarea id='api_response_content' style='width:550px; padding:5px; height:300px; background:white;'></textarea>
</div>

<div class='clearboth'></div>

{% endblock %}

{% block postsouth %}

<script type='text/javascript'>
_error = null;
	$('#drawGraph').click(function doGrpahRPC()
		{

			request = fatcatmap.rpc.api.graph.construct({},
				{
					success: function (response) {
						
						console.log('RPC Success: ', response);
						$('#api_response_content').val(JSON.stringify(response));
						
					},
					
					failure: function (response) {
			
						console.log('RPC Failure: ', response);
						alert('RPC failure. Response logged to console.');
						$('#api_response_content').val(JSON.stringify(response));						
						
					},

			}, false);
			
			$('#api_request_id').val(request.id);
			$('#api_request_async').val(request.async);
			$('#api_request_content').val(JSON.stringify(request.request));			
		}
	);
</script>

{% endblock %}