<meta name="description" content="FatCatMap lets you browse the political universe!">
<meta name="author" content="Political Momentum, Inc.">

<link rel="stylesheet" media="screen" href="{{ style_url('fonts', 'core') }}">
<link rel="stylesheet" media="screen" href="{{ style_url('ie', 'compiled') }}">
<link rel="stylesheet" media="screen" href="{{ style_url('main', 'compiled') }}">
<link rel="stylesheet" media="screen" href="{{ style_url('print', 'compiled') }}">
<link rel="stylesheet" media="screen" href="{{ style_url('interaction', 'compiled') }}">
<link rel="stylesheet" media="handheld" href="{{ style_url('mobile', 'core') }}">
<link rel="stylesheet" media="screen" href="{{ style_url('plugins', 'core') }}">


<link rel="shortcut icon" href="/favicon.ico">
<link rel="apple-touch-icon" href="/apple-touch-icon.png">

<!-- jQuery via CDN -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script> 

<!-- Core Dependencies -->
<script src="{{ script_url('base', 'fatcatmap') }}"></script>
<script src="{{ script_url('core', 'jquery') }}"></script>
<script src="{{ script_url('backbone', 'core') }}"></script>
<script src="{{ script_url('amplify', 'core') }}"></script>
<script src="{{ script_url('yepnope', 'core') }}"></script>
<script src="{{ script_url('modernizr', 'core') }}"></script>

<!-- FatCatMap Platform -->
<script src="{{ script_url('fcm', 'fatcatmap') }}"></script>
<script src="{{ script_url('layout', 'fatcatmap') }}"></script>
<script src="{{ script_url('interaction', 'fatcatmap') }}"></script>