<meta name="description" content="FatCatMap lets you browse the political universe!">
<meta name="author" content="Political Momentum, Inc.">

{% if sys.output.assets.compiled %}
<link rel="stylesheet" media="screen" href="{{ style_url('fonts', 'core') }}">
<link rel="stylesheet" media="screen" href="{{ style_url('plugins', 'core') }}">
<link rel="stylesheet" media="screen" href="{{ style_url('main', 'compiled') }}">
{% else %}
<link rel="stylesheet" href="{{ style_url('reset', 'core') }}">
<link rel="stylesheet" href="{{ style_url('fonts', 'core') }}">
<link rel="stylesheet" href="{{ style_url('main', 'core') }}">
<link rel="stylesheet" href="{{ style_url('layout', 'core') }}">
<link rel="stylesheet" href="{{ style_url('plugins', 'core') }}">
<link rel="stylesheet" media="handheld" href="{{ style_url('mobile', 'core') }}">
{% endif %}

<link rel="shortcut icon" href="/favicon.ico">
<link rel="apple-touch-icon" href="/apple-touch-icon.png">

<!-- jQuery 
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>-->
<script src="{{ script_url('core','jquery') }}" type='text/javascript'></script>

<!-- Modernizr & YepNope -->
<script src="{{ script_url('modernizr') }}"></script>
<script src="{{ script_url('yepnope') }}"></script>

{% if sys.output.assets.optimize %}
<script type="text/javascript">

yepnope([
	{
		// Load core FCM
		load: ["{{ script_url('init', 'core') }}", "{{ link('js-api') }}", "{{ script_url('rpc', 'core') }}", "{{ script_url('plugins', 'core') }}", "{{ script_url('layout', 'core') }}", "{{ script_url('protovis') }}", "{{ script_url('graph','core') }}"],
		complete: function _doPhaseOneInit() { _initiateAPIFramework(fatcatmap); bindNavigation(); }
	},
	{
		// Load visual plugins
		test: typeof(window.jQuery) == 'function',
		nope: "{{ script_url('core','jquery') }}",
		load: ["{{ script_url('uniform', 'jquery') }}", "{{ script_url('tipsy', 'jquery') }}", "{{ script_url('masonry','jquery') }}", "{{ script_url('fancybox', 'jquery') }}", "{{ script_url('easing', 'jquery') }}", "{{ script_url('mousewheel','jquery') }}"]
	},
	{
		// Polyfill JSON Support
		test : window.JSON && window.JSON.parse,
		nope: "{{ script_url('json', 'polyfills') }}",
		callback: function () {
			console.log("JSON polyfill loaded.");
		}
	},
	{
		// Load IndexedDB
		test: Modernizr.indexeddb,
		yep: ["{{ script_url('indexeddb', 'jquery') }}", "{{ script_url('indexed', 'storage') }}"],
		complete: function (url, result, key) { _indexedDBInit(); }
	},
	{
		// Load WebSQL
		test: Modernizr.websqldatabase,
		yep: ["{{ script_url('websql', 'jquery') }}", "{{ script_url('sql', 'storage') }}"],
		complete: function (url, result, key) { _webSQLInit(); }
	},	
	{
		// Load LocalStorage
		test: Modernizr.localstorage,
		yep: ["{{ script_url('local', 'storage') }}"],
		complete: function (url, result, key) { _localStorageInit(); }
	},
	{
		// Load SessionStorage
		test: Modernizr.sessionstorage,
		yep: ["{{ script_url('session', 'storage') }}"],
		complete: function (url, result, key) { _sessionStorageInit(); }
	}
]);

</script>
{% else %}

<!-- Visualization Dependencies -->
<script src="{{ script_url('protovis') }}"></script>

{% if sys.output.assets.compiled %}
<!-- FCM Platform -->
<script src="{{ script_url('core','compiled') }}"></script>
<script src="{{ script_url('storage','compiled') }}"></script>
<script src="{{ script_url('layout','compiled') }}"></script>
<script src="{{ script_url('interaction','compiled') }}"></script>
<script src="{{ script_url('site','compiled') }}"></script>

<!-- JS API -->
<script src="{{ link('js-api') }}"></script>

<!-- jQuery Plugins -->
<script src="{{ script_url('uniform', 'jquery') }}"></script>
<script src="{{ script_url('tipsy', 'jquery') }}"></script>
<script src="{{ script_url('masonry','jquery') }}"></script>
<script src="{{ script_url('fancybox','jquery') }}"></script>
<script src="{{ script_url('easing','jquery') }}"></script>
<script src="{{ script_url('mousewheel','jquery') }}"></script>


{% else %}
<!-- FCM Platform -->
<script src="{{ script_url('init', 'core') }}"></script>
<script src="{{ link('js-api') }}"></script>

<!--<script src="{{ script_url('rpc', 'core') }}"></script>-->
<!--<script src="{{ script_url('plugins', 'core') }}"></script>-->
<script src="{{ script_url('layout', 'core') }}"></script>
<script src="{{ script_url('graph','core') }}"></script>

<!-- jQuery Plugins -->
<script src="{{ script_url('uniform', 'jquery') }}"></script>
<script src="{{ script_url('tipsy', 'jquery') }}"></script>
<script src="{{ script_url('masonry','jquery') }}"></script>
<script src="{{ script_url('fancybox','jquery') }}"></script>
<script src="{{ script_url('easing','jquery') }}"></script>
<script src="{{ script_url('mousewheel','jquery') }}"></script>

<!-- Load Storage Adapters -->
<script src="{{ script_url('indexeddb', 'jquery') }}"></script>
<script src="{{ script_url('indexed', 'storage') }}"></script>
<script src="{{ script_url('websql', 'jquery') }}"></script>
<script src="{{ script_url('sql', 'storage') }}"></script>
<script src="{{ script_url('local', 'storage') }}"></script>
<script src="{{ script_url('session', 'storage') }}"></script>
{% endif %}

<script type='text/javascript'>

$(document).ready(function loadPlatform()
{	
	// Register page elements
	superbar = new SuperBar('#momentumSuperbar');
	fatcatmap.api.layout.register('superbar', superbar);
	
	supernav = new Navigation('#topnav');
	fatcatmap.api.layout.register('supernav', supernav);
	
	superfooter = new SuperFooter('#momentumSuperfooter');
	fatcatmap.api.layout.register('superfooter', superfooter);
});

</script>
{% endif %}