<!--[if lt IE 7 ]>
<script src="{{ assets.script('belated_png') }}"></script>
<script> DD_belatedPNG.fix('img, .png_bg');</script>
<![endif]-->

{% if not api.users.is_current_user_admin() %}

<!-- Google Analytics: Track pageview -->
<script>
	var _gaq=[['_setAccount','UA-2908422-24'],['_setDomainName','{{ environ('SERVER_NAME') }}'],['_setAllowLinker', true], ['_trackPageview']];
	(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
	g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
	s.parentNode.insertBefore(g,s)}(document,'script'));
</script>

{% else %}

<!-- On-screen FPS/MB widget -->
<script src="{{ assets.script('fps_stats', 'dev') }}"></script>

{% endif %}