<!--[if lt IE 7 ]>
<script src="{{ script_url('belated_png') }}"></script>
<script> DD_belatedPNG.fix('img, .png_bg');</script>
<![endif]-->

<script type="text/javascript">

{% autoescape false %}
yepnope([
	
	{
		// Polyfill JSON Support
		test : window.JSON && window.JSON.parse,
		nope: "{{ script_url('json2', 'polyfills') }}"
	},

	{
		// Load jQuery and jQuery Plugins
		test: window.jQuery,
		nope: "{{ script_url('core', 'jquery') }}",
		complete: function () {
			yepnope({
				load: ["{{ script_url('tipsy', 'jquery-ui') }}", "{{ script_url('masonry','jquery-ui') }}", "{{ script_url('fancybox', 'jquery-ui') }}",
						"{{ script_url('easing', 'jquery') }}", "{{ script_url('mousewheel','jquery') }}"]
			});
		}
	},
	
	{
		// Load FCM JavaScript API
		load: "{{ link('js-api') }}",

		// Bootstrap Platform
		complete: function () {
			superbar = new SuperBar('#momentumSuperbar');
			$.fatcatmap.api.layout.register('superbar', superbar);

			supernav = new Navigation('#topnav');
			$.fatcatmap.api.layout.register('supernav', supernav);

			superfooter = new SuperFooter('#momentumSuperfooter');
			$.fatcatmap.api.layout.register('superfooter', superfooter);
		}	
	},

	{
		// Load Workers
		test: Modernizr.webworkers,
		yep: ["{{ script_url('workers', 'plugins') }}"]
	},
	
	{
		// Load Geo
		test: Modernizr.geolocation,
		yep: ["{{ script_url('geo', 'plugins') }}"]
	},

	{
		// Load LocalStorage
		test: Modernizr.localstorage || Modernizr.sessionsetorage,
		yep: ["{{ script_url('local', 'storage') }}"]
	},

	{
		// Load IndexedDB
		test: Modernizr.indexeddb,
		yep: ["{{ script_url('object', 'storage') }}"]
	},

	{
		// Load WebSQL
		test: Modernizr.websqldatabase,
		yep: ["{{ script_url('sql', 'storage') }}"]
	},
	
	{
		complete: function (){
			$.fatcatmap.state.events.triggerEvent('PLATFORM_READY', {fcm: $.fatcatmap});
		}
	}				
]);
{% endautoescape %}

</script>

{% if not api.users.is_user_admin() %}

<!-- Google Analytics: Track pageview -->
<script>
	var _gaq=[['_setAccount','UA-2908422-24'],['_setDomainName','{{ environ('SERVER_NAME') }}'],['_setAllowLinker', true], ['_trackPageview']];
	(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
	g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
	s.parentNode.insertBefore(g,s)}(document,'script'));
</script>

{% else %}

<!-- On-screen FPS/MB widget -->
<script src="{{ script_url('fps_stats', 'dev') }}"></script>

{% endif %}
