{% extends "content/map/layout.html" %}

{% block subtitle %}{% if origin %}{{ origin.label }}{% else %}Mapper{% endif %}{% endblock %}

{% block grapher %}
	<style>
	
		.node
		{
			border: 1px solid blue;
		}
		
		.node .label
		{
			color: #000;
			pointer-events: none;
		}
		
		.node .circle
		{
			fill: white;
			stroke: blue;
			stroke-width: 2;
		}
		
		.edge
		{
			stroke: #888;
			stroke-width: 2;
		}
	
	</style>

	<script type="text/javascript">

		// Define local context vars
		_g = null;
		_graph = null;
		_visualizer = null;
		makeGrapher = null;

		$(document).ready(function registerGraphCallback()
		{
			$.fatcatmap.state.events.registerHook('PLATFORM_READY', function drawGraph()
			{
				_g = new Interaction.Graph('#grapher').build().render().draw();
			});
		});
	
	</script>
{% endblock %}

{% block content_footer %}{% endblock %}