{% extends "content/map/layout.html" %}

{% block subtitle %}{% if origin %}{{ origin.label }}{% else %}Mapper{% endif %}{% endblock %}

{% block grapher %}
	<style>
	
		.node
		{
			border: 1px solid blue;
		}
		
		.node .label
		{
			color: #000;
			pointer-events: none;
		}
		
		.node .circle
		{
			fill: white;
			stroke: blue;
			stroke-width: 2;
		}
		
		.edge
		{
			stroke: #888;
			stroke-width: 2;
		}
	
	</style>

	<script type="text/javascript">

		// Define local context vars
		_graph = null;
		_visualizer = null;
		makeGrapher = null;

		$(document).ready(function registerGraphCallback()
		{
			$.fatcatmap.state.events.registerHook('PLATFORM_READY', function drawGraph()
			{
				{{ d3grapher("#grapher", "makeD3Grapher") }}
		
				// Graph init callback
				function initGrapher(response)
				{
					_graph = response.graph;
					makeD3Grapher(_graph.nodes, _graph.edges, _graph.hints);
				}
		
				// Graph failure callback
				function graphFailure(error)
				{
					alert("Woops!\nSomething went wrong. Please try your request again.\n\nGRAPHER: "+error.toString());
					console.log('Grapher Failure: ', error);
				}
		
				{% if rpc_params %}
					{{ jsapi_rpc('graph', 'construct', 'initGrapher', 'graphFailure', rpc_params) }}
				{% else %}
					{{ jsapi_rpc('graph', 'construct', 'initGrapher', 'graphFailure') }}
				{% endif %}
			});
		});
	
	</script>
{% endblock %}

{% block content_footer %}{% endblock %}