{% extends "layouts/main.html" %}

{% block title %}{% block subtitle %}{% endblock %} - Map influence data in real time - FatCatMap{% endblock %}

{% block content_body %}

	<div id='grapher' class='fullheight fullwidth textcenter'>
	{% block grapher %}
	{% endblock %}
	</div>

	{% include 'elements/pane/details-sidebar.html' %}
	{% include 'elements/pane/controls-sidebar.html' %}	

{% endblock %}

{% block postsouth %}
<script src="{{ script_url('core', 'd3') }}"></script>
<script src="{{ script_url('behavior', 'd3') }}"></script>
<script src="{{ script_url('chart', 'd3') }}"></script>
<script src="{{ script_url('geo', 'd3') }}"></script>
<script src="{{ script_url('geom', 'd3') }}"></script>
<script src="{{ script_url('layout', 'd3') }}"></script>
{% endblock %}