{% macro input(name, value='', type='text', size=20, class='') -%}
    <input type="{{ type }}" name="{{ name }}" value="{{ value|e }}" size="{{ size }}" class="{{ class }}" />
{%- endmacro %}

{%- macro form_field_label(field) -%}
    <label for="{{ field.id }}" class='fieldlabel'>{{ field.label.text }}
    {%- if field.flags.required -%}
        <abbr title="This field is required.">*</abbr>
    {%- endif %}</label>
{% endmacro %}

{%- macro form_field_description(field) -%}
    {% if field.description %}
        <span class="descr">{{ field.description }}</span>
    {% endif %}
{%- endmacro -%}

{%- macro form_field_errors(field) -%}
    {% if field.errors %}
    <ul class="errors">
        {%- for error in field.errors -%}
        <li>{{ error }}</li>
        {%- endfor -%}
    </ul>
    {% endif %}
{%- endmacro -%}

{%- macro form_field_boolean(field) -%}
    {{ field(**kwargs) }}
    {{ form_field_label(field) }}
    {{ form_field_description(field) }}
    {{ form_field_errors(field) }}
{%- endmacro -%}

{%- macro form_field(field) -%}

	{% if field.type == 'SubmitField' %}
		{{ field() }}
	{% else %}
		{% if field.type == 'MultiCheckboxField' %}
			{{ field() }}
		{% else %}
		    {% if field.type == 'BooleanField' %}
		        {{ form_field_boolean(field, **kwargs) }}
		    {% else%}
		        {{ form_field_label(field) }}
		        {% if field.type == 'RadioField' %}
		            {{ field(class='radio-group', **kwargs) }}
		        {% else %}
		            {{ field(**kwargs) }}
		        {% endif %}
		        {{ form_field_description(field) }}
		        {{ form_field_errors(field) }}
		    {% endif %}
		{% endif %}
	{% endif %}
	
{%- endmacro -%}


{%- macro renderForm(form_object, omitFormTag=False, omitSubmitButton=False) -%}

{% if form_object.get_script_snippet('north') is string %}
<script type='text/javascript'>
	{% include form_object.get_script_snippet('north') %}
</script>
{% endif %}

{% if omitFormTag != True %}
	<form action='{{ form_object.get_action() }}' method='{{ form_object.get_method() }}'{% if kwargs.id %} id='{{ kwargs.id }}'{% endif %}{% if kwargs.class %} class='{{ kwargs.class }}'{% else %} class='spi-form'{% endif %}{% if kwargs.name %} name='{{ kwargs.name }}'{% endif %}>
{% endif %}

	    {% for field in form_object %}
	        
			{% if field.type == 'HiddenField' %}
	            {{ field() }}
	        {% endif %}

			{% if field.type == 'FormField' %}
				{{ renderForm(field) }}
			{% endif %}
			
	    {% endfor %}

	    <ul>
	    {% for field in form_object %}
	        {% if field.type != 'HiddenField' %}
	            <li><div id='{{ field.id }}-box' class='fieldbox'>{{ form_field(field) }}</div></li>
	        {% endif %}
	    {% endfor %}
	    </ul>

{% if omitSubmitButton != True %}
		<input type='submit'{% if kwargs.submit_value %} value='{{ kwargs.submit_value }}'{% endif %}{% if kwargs.submit_class %} class='{{ kwargs.submit_class }}'{% else %} class='spi-submit'{% endif %}>
{% endif %}

{% if omitFormTag != True %}
</form>
{% endif %}

{% if form_object.get_script_snippet('south') is string %}
<script type='text/javascript'>
	{% include form_object.get_script_snippet('south') %}	
</script>
{% endif %}

{%- endmacro -%}