{% macro protographer(selector, fn=none, tags=false) %}
{% if tags %}
<script type='text/javascript+protovis'>
{% endif %}

{% if fn != none %}
{{ fn }} = function (nodes, edges)
{
{% endif %}

	// Render Graph
	var w = $("{{ selector }}").width(),
	    h = $("{{ selector }}").height(),
	    colors = pv.Colors.category19();

	// 1: Create viz panel
	var vis = new pv.Panel($('{{ selector }}'))
	    .width(w)
	    .height(h)
	    .fillStyle("transparent")
	    .event("mousedown", pv.Behavior.pan())
	    .event("mousewheel", pv.Behavior.zoom());

	// 2: Add force-driven layout to visualizer panel
	var force = vis.add(pv.Layout.Force).nodes(nodes).links(edges);
	force.bound = function() true;

	// 3: Adjust force constants for layout
	force.chargeConstant(function() -110);
	force.chargeMaxDistance(function() 500);
	force.chargeMinDistance(function() 2);
	force.chargeTheta(function() 0.9);
	force.dragConstant(function() 0.1);
	force.springConstant(function() 0.1);
	force.springDamping(function() 0.3);
	force.springLength(function() 140);

	// 4: Render line
	line = force.link.add(pv.Line);
	line.strokeStyle(function() '#667788');

	// 5: Add node box
	dot = force.node.add(pv.Dot);
	dot.size(function() 150);
	dot.fillStyle(function() 'white');
	dot.strokeStyle(function() 'blue');
	dot.cursor(function() 'pointer');
	dot.text(function (d) d.label);
	dot.event('mousedown', pv.Behavior.drag());


	// 6: Add Node Events
	dot.event('click', function (d) {
	
		loadContextPane(d, d.key);
	
	});
	dot.event('dblclick', function (d) {
	
		browseToNode(d.key);
	
	});
	dot.event('drag', force);
	//dot.event("mouseover", pv.Behavior.tipsy({gravity: "s", fade: true}));			

	// 7: Add node anchor
	center = dot.anchor('center');
	label = center.add(pv.Label);
	label.text(function (d) d.index+1);
	label.font(function () '16px Cabin');

	console.log('NODES/EDGES', nodes, edges);
	console.log('VIS', vis);

	// 8: Render
	vis.render();
	
	return {panel: vis, force: force}
{% if fn != none %}
}
{% endif %}

{% if tags %}
</script>
{% endif %}
{% endmacro %}


{% macro d3grapher(selector, fn=none, tags=false) %}
{% if tags %}
<script type='text/javascript'>
{% endif %}

{% if fn != none %}
{{ fn }} = function (nodes, edges, hints)
{
{% endif %}

	// Render Graph
	var w = $("{{ selector }}").width(),
	    h = $("{{ selector }}").height(),
		colors = d3.scale.category20();

	// 1: Create viz panel
	var vis = d3.select('{{ selector }}')
		.append("svg:svg")
		.attr("width", w)
		.attr("height", h);
		
	// 2: Add force-driven layout to visualizer panel
	var force = d3.layout.force()
		.charge(-100)
		.gravity(.05)
		.distance(100)
		.nodes(nodes)
		.links(edges)
		.size([w, h])
		.start();

	// 4: Render line
	var edge = vis.selectAll("line.link")
		.data(edges)
	 	.enter().append("svg:line")
			.attr("data-hint", function (d, i) {return hints[i].key.encoded;})
			.attr("data-source-node-key", function (d) {return d.source.key.encoded;})
			.attr("data-target-node-key", function (d) {return d.target.key.encoded;})
			.attr("class", "edge")
			.attr("x1", function (d) {return d.source.x;})
			.attr("y1", function (d) {return d.source.y;})
			.attr("x2", function (d) {return d.target.x;})
			.attr("y2", function (d) {return d.target.y})

	// 5: Render node
	var node = vis.selectAll("g.node")
		.data(nodes)
		.enter().append("svg:g")
			.attr("id", function (d) {return d.key.encoded;})
			.attr("class", "node")
			.attr('data-kind', function (d) {return d.kind;})
			.attr('data-label', function (d) {return d.label;})
			.attr("data-object-key", function (d) {return d.key.parent;})
			.call(force.drag)
			.on('click', function (d, i) {
				
				alert('clicked '+d.label);
				
			})
			.on('mouseover', function (d, i) {
				
				$(this).tipsy('show');
				
			});
	
	node.append("svg:circle")
		.attr("class", "circle")
		.attr("x", '-8px')
		.attr("y", '-8px')
		.attr("r", 16);
			
	node.append("svg:text")
		.attr('x', -4)
		.attr('y', 4)
		.attr('class', 'label')		
		.text(function (d) {return d.index.toString();});
			
	_.each($('.node'), function decorateNode(node) {
		
		$(node).tipsy({
			fade: true,
			trigger: 'manual',
			gravity: $.fn.tipsy.autoNS,
			title: function () {
				return this.getAttribute('data-label');
			}
		});
		
	});
			
	force.on("tick", function () {
		edge.attr("x1", function (d) {return d.source.x;})
			.attr("y1", function (d) {return d.source.y;})
			.attr("x2", function (d) {return d.target.x;})
			.attr("y2", function (d) {return d.target.y;});
			
		//node.attr("cx", function (d) {return d.x;})
		//	.attr("cy", function (d) {return d.y;});
		node.attr('transform', function (d) { return 'translate('+d.x+','+d.y+')'; });
	});

{% if fn != none %}
	return {graph: vis, force: force, node: node, edge: edge}
}
{% endif %}

{% if tags %}
</script>
{% endif %}
{% endmacro %}