{% extends "core/__base.html" %}

{% block prenorth %}
<link rel="stylesheet" media="screen" href="{{ assets.style('fonts', 'core') }}">
<link rel="stylesheet" media="screen" href="{{ assets.style('ie', 'compiled') }}">
<link rel="stylesheet" media="screen" href="{{ assets.style('main', 'compiled') }}">
<link rel="stylesheet" media="screen" href="{{ assets.style('print', 'compiled') }}">
<link rel="stylesheet" media="screen" href="{{ assets.style('interaction', 'compiled') }}">
<link rel="stylesheet" media="handheld" href="{{ assets.style('mobile', 'core') }}">
<link rel="stylesheet" media="screen" href="{{ assets.style('plugins', 'core') }}">

<!-- jQuery via CDN -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script> 

<!-- Core Dependencies -->
<script src="{{ assets.script('base', 'fatcatmap') }}"></script>
<script src="{{ assets.script('core', 'jquery') }}"></script>
<script src="{{ assets.script('data', 'core') }}"></script>
<script src="{{ assets.script('lawnchair', 'core') }}"></script>

<script src="{{ assets.script('backbone', 'core') }}"></script>
<script src="{{ assets.script('yepnope', 'core') }}"></script>
<script src="{{ assets.script('modernizr', 'core') }}"></script>

<!-- FatCatMap Platform -->
<script src="{{ assets.script('fcm', 'fatcatmap') }}"></script>

{% block northloader %}{% endblock %}

{% endblock %}

{% block body %}
<div id="container">

	{# Includes super navigation, currently logged in user, etc... #}
	{% block superbar %}
	{% endblock %}

	{# Main content div... content panes go in here. #}
	{% block content %}
	{% endblock %}

	{# Superfooter is used for branding and copyright stuff... #}
	{% block superfooter %}
	{% endblock %}
	
</div>
{% endblock body %}

{% block presouth %}
<script type="text/javascript">
	{% autoescape false %}
		yepnope([

			{
				// Polyfill JSON Support
				test : window.JSON && window.JSON.parse,
				nope: "{{ assets.script('json2', 'polyfills') }}"
			},

			{
				// Load jQuery and jQuery Plugins
				test: window.jQuery,
				nope: "{{ assets.script('core', 'jquery') }}",
				load: ["{{ assets.script('tipsy', 'jquery-ui') }}", "{{ assets.script('masonry','jquery-ui') }}", "{{ assets.script('fancybox', 'jquery-ui') }}",
						"{{ assets.script('easing', 'jquery') }}", "{{ assets.script('mousewheel','jquery') }}"]
			},
			
			{
				// Load Lawnchair and plugins
				test: window.Lawnchair,
				nope: ["{{ assets.script('lawnchair', 'core') }}"],
				load: ["{{ assets.script('query', 'ext-storage') }}", "{{ assets.script('pagination', 'ext-storage') }}", "{{ assets.script('callbacks', 'ext-storage') }}", "{{ assets.script('aggregation', 'ext-storage') }}"]
			},
			
			{
				// CSS Animations Support
				test: Modernizr.cssanimations,
				yep: ["{{ assets.script('animate-enhanced', 'jquery-ui') }}"]
			},

			{
				// FCM Layout + Interaction packages
				test: $.fatcatmap,
				nope: "{{ assets.script('fcm', 'fatcatmap') }}",
				load: ["{{ assets.script('layout', 'fatcatmap') }}", "{{ assets.script('interaction', 'fatcatmap') }}"]
			},

			{
				// Load FatCatMap JSAPI & Channel JSAPI
				load: ["{{ link('js-api') }}", "/_ah/channel/jsapi"],

				// Bootstrap Platform
				complete: function () {
					superbar = new Layout.SuperBar({id: 'momentumSuperbar', el: document.getElementById('momentumSuperbar')});
					$.fatcatmap.api.layout.register('superbar', superbar);

					supernav = new Layout.Navigation({id: 'topnav', el: document.getElementById('topnav')});
					$.fatcatmap.api.layout.register('supernav', supernav);

					superfooter = new Layout.SuperFooter({id: 'momentumSuperfooter', el: document.getElementById('momentumSuperfooter')});
					$.fatcatmap.api.layout.register('superfooter', superfooter);
				}	
			},

			{
				// Load Workers
				test: Modernizr.webworkers,
				yep: ["{{ assets.script('workers', 'plugins') }}"]
			},

			{
				// Load Geo
				test: Modernizr.geolocation,
				yep: ["{{ assets.script('geo', 'plugins') }}"]
			},

			{
				// Load LocalStorage
				test: Modernizr.localstorage || Modernizr.sessionsetorage,
				yep: ["{{ assets.script('local', 'storage') }}"]
			},
			
			{
				// Load IndexedDB
				test: Modernizr.indexeddb,
				yep: ["{{ assets.script('indexeddb', 'ext-storage') }}"]
			},

			{
				// Load WebSQL
				test: Modernizr.websqldatabase,
				yep: ["{{ assets.script('websql', 'ext-storage') }}"]
			},

			{% block southloader %}
			{% endblock southloader %}

			{
				complete: function (){
					$.fatcatmap.state.events.triggerEvent('PLATFORM_READY', {fcm: $.fatcatmap});
				}
			}
		]);
	{% endautoescape %}
</script>
{% endblock %}