{% macro jsapi_rpc(module, method, success, failure, params={}, async=false, tags=false) %}
	{% if tags == true %}
		<script type='text/javascript'>
	{% endif %}

	fatcatmap.rpc.api.{{ module }}.{{ method }}({% autoescape false %}{{ util.converters.json.dumps(params) }}{% endautoescape %}).fulfill({
		
		success: function (response) {
			{{ success }}(response);
		},
		
		failure: function (response)
		{
			{{ failure }}(response);
		}
		
	}, {async: {% if async == true %}true{% else %}false{% endif %}});

	{% if tags == true %}
		</script>
	{% endif %}
{% endmacro %}